a, a:hover {
    color: black;
}

.sidenav{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidenav a.active {
    background-color: #4CAF50;
    color: white;
}

.sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 5px 10px;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

.cardContainer a {
    color: black;
}

.cardContainer a:hover {
    text-decoration: none;
    color: gray;
}

.employee {
    display: flex;
    margin: 5px 5px 5px 5px;
    background-color: #ecf0f1;
}

.employee-info {
    display: block;
    margin: 10px 5px 10px 5px;
}

.name, .phone, .email {
    margin: 0;
}
